/* Alert Banner - Start */
.block-alert-banner {
  display: flex;
  padding: 1.125rem 3.375rem;
  background-color: #0d1214;
  .field--name-field-message .field__item {
    display: list-item;
    list-style: disclosure-closed;
    color: white;
    a {
      color: white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
/* Alert Banner - Stop */
