.block-alert-banner{display:flex;padding:1.125rem 3.375rem;background-color:#0d1214}.block-alert-banner .field--name-field-message .field__item{display:list-item;list-style:disclosure-closed;color:white}.block-alert-banner .field--name-field-message .field__item a{color:white}.block-alert-banner .field--name-field-message .field__item a:hover{box-shadow:none}
